#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: .15rem;

}

.weatherSquare {
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 2%;
    width: 100%;
    background-image:  linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.5)
      ) ;
    font-size: large;  
    text-align: center;
  
}

#hourly-container, #weekly-container{
    display: flex;
    flex-direction: row;
   /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */

}
#city {
    float: top;
}

#weatherMain {
    background-repeat: no-repeat;
    background-size: 100%;
}

h5 {
    width: max-content;
    background-image:  linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.5)
      ) ;
}

.weather-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

/* .dailyData .weather-icon {
    width: 50px;

}

@media screen and (max-width:900px) {
    #weatherMain{
        wdith: 100%;
    }
} */