#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: .15rem;

}

.weatherSquare {
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 2%;
    width: auto;
    background-image:  linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.5)
      ) ;
    font-size: large;  
  
}

#hourly-container, #weekly-container{
    display: flex;
    flex-direction: row;
   /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */

}
#city {
    float: top;
}

#hourly {
    width: 100%;
}

#weatherMain {
    background-repeat: no-repeat;
    background-size: 100%;
}

h5 {
    width: max-content;
    background-image:  linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.5)
      ) ;
}