#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: .15rem;

}

.weatherSquare {
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 2%;
    width: auto;
}

#hourly-container, #weekly-container{
    display: flex;
    flex-direction: row;
   /* grid-template-rows: repeat(auto-fill, minmax(150px, 1fr)); */

}
#city {
    float: top;
}

#hourly {
    width: 100%;
}

.col-item {
    /* display: flex;
    flex-direction: column;
    justify-content: left; */
}

#weatherMain {
    background-repeat: no-repeat;
    background-size: 100%;
}